.box
{
    text-align: center;
    padding-bottom: 15px;
    max-width: 960px;
    background: #EFEFEF;
}

.card
{
    padding: 10px;
    display: inline-block;
	font-size: 14pt;
	text-align: center;
	color:black;
}

.btn
{
	background: #72c3dc;
	padding: 20px 0 20px 0;
	min-width: 300px;
    display:inline-block;
    font-size: 16px;
    border-bottom: 7px solid #2b8ead;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card .cardValue{
    font-size: 124px;
    color: white;
    text-align: center;
	font-family: sans-serif;
}
.colorCode1 {
    background: #6F98A8;
}
.colorCode2 {
    background: #2B8EAD;
}
.colorCode3 {
    background: #2F454E;
}
.colorCode4 {
    background: #BFBFBF;

}
@media screen and (min-width: 375px) and (max-width: 600px) {
    .box
    {
        background: white;
    }
    #elements .card
    {
        border-left: 5px solid;
        background: #efefef;
        height: 35px;
        margin-bottom: 7px;
    }
    .box .btn
    {
        min-width: 100%;
        margin-top: 0px;
    }
    #elements .card .cardValue
    {
        color: #10000f;
        font-size: 15px;
    }
    #elements .colorCode1
    {
        border-left-color: #6F98A8;
    }
    #elements .colorCode2
    {
        border-left-color: #2B8EAD;
    }
    #elements .colorCode3
    {
        border-left-color: #2F454E;
    }
    #elements .colorCode4
    {
        border-left-color: #BFBFBF;
    }

}
footer {
    font-size: 0.8em;
    text-align: center;
    color: #333;
    padding: 5px;
}
